@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* BODY & HEADER */
*{
    margin: 0;
    padding: 0;
}
body
{
min-height: 100vh;
width: 100%;
background-image: url('background.svg');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
font-family: 'Dosis', sans-serif;
letter-spacing: 2px;

}
header{
    width: 15%;
    margin-left: 80%;
    padding: 30px 0;
    background-color: rgba(135, 165, 214, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

header > a
 {
     margin-top: 10px;
     font-size: 1.2em;
     color:  white;
     border-bottom: 1px solid rgb(135, 165, 214);
 }
 header > a:hover
 {
     
     color:  rgb(135, 165, 214);
 }


a{
    text-decoration: none;
}
h1{
    color: rgb(105, 129, 168);
    text-align: center;
    padding: 50px;
}



/* CREATION NOUVEAU COMPTE */

main{ 
    width: 40%;
    height: 100%;
    margin: 100px auto;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 5px rgb(166, 174, 185);
    border-radius: 10px;
}
form{
    width: 80%;
    margin: auto;
}
form div {
    padding: 10px;
}
form div:last-child{
    display: flex;
    justify-content: center;
}

input[type="email"], input[type="password"]{
    width: 90%;
    margin: auto;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background-color: #C5D9FF;
    box-shadow: 0px 0px 3px rgb(166, 174, 185); 
    outline:none;
    cursor: pointer;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: rgb(105, 129, 168);
   font-size: 1.2em;
}
input[type="submit"]{
    width: 40%;
    margin: auto;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background-color: #C5D9FF;
    box-shadow: 0px 0px 3px rgb(166, 174, 185); 
    outline:none;
    cursor: pointer;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: rgb(105, 129, 168);
   font-size: 1.2em;
}

@media(max-width: 1200px){
    
    main{
        width: 60%;
    }
   
    header{
        width: 100%;
        margin: auto;
        flex-direction: row;
    }
 
    
}
@media(max-width: 400px){
    main{
        width: 80%;
        font-size: 0.8em;
    }
    
}
 












